.Color-palatte-heading{
    font-size: 33px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.color-box{
    padding: 30px;
    border-radius: 30px;
}
.infont{
    color: white;
    font-size: 20px;
}
.coloum-spacing{
    margin-bottom: ;
}